*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	width: 100%;
	height: 100vh;
}

main{
	position: relative;
}
.header1{
		display: flex;
		justify-content: space-between;
	align-items: center;
	padding: 5px 10px;
	width: 100%;

				h1{
					color: blue;
					font-size: 2em;

										.rec{
											font-size: 0.26em;
										}
				}

					.user-search-icon{
						display: flex;
						justify-content: space-around;
						align-items: center;
						width: 100px;

							img{
								background: rgb(168, 165, 165);
								padding: 5px;
								border-radius: 50%;
							}
					}
}

.header2{
	display: flex;
		justify-content: space-around;
	align-items: center;
	margin: 10px 0;
	padding: 2px 0 10px 0;
	border-bottom: 1px solid silver;
	width: 100%;

						img{
							opacity: 0.8;
						}

}

.header3{
		display: flex;
		justify-content: space-between;
	align-items: center;
	padding: 5px 10px;
	margin: 10px 0;
	width: 100%;
	border-bottom: 1px solid silver;
	color: rgb(107, 106, 106);



		.sr:nth-child(1){
				display: flex;
		justify-content: space-between;
	align-items: center;
	position: relative;

					p{
						margin: 0 5px;
					}
			 	img{
					 background: silver;
					 padding: 10px;
					 border: 2px solid grey;
					 border-radius: 50%;
				 }

				 .status{
					 width: 15px;
					 height: 15px;
					 background: green;
					 border-radius: 50%;
					 border: 2px solid white;
					 position: absolute;
					 left: 34px;
					 bottom: 0;
				 }
		}
			.sr:nth-child(2){
				 border-left: 1px solid grey;
				     
				 p{
					 font-size: 0.7em;
					 padding-left: 13px;
				 }
			 	img{
					 margin-left: 15px;
				 }
				}
}

.header4{
		display: flex;
		justify-content: space-around;
	align-items: center;
margin: 10px 0;
				.live{
						display: flex;
		justify-content: space-between;
	align-items: center;

								p{
									padding:  0 5px;
								}
				}
}

.stories{
	width: 100%;
		display: flex;
		justify-content: space-around;
	align-items: center;
	flex-direction: row;
	flex-wrap: nowrap;
	padding: 5px;
	border-top: 5px solid gray;
		border-bottom: 5px solid gray;

						.story{
							position: relative;
							width: 100%;
							height: 120px;
							margin: 2px;
							border: 1px solid rgba(189, 182, 182, 0.644);

										img{
											border-radius: 10px;
										}
										.story-name{
											width: 100%;
											position: absolute;
										 color: white;
											bottom: 0;
											text-align: center;
											word-wrap: break-word;
											box-shadow: inset 15px 15px 100px  rgb(22, 22, 22);
												border-radius: 0 0 10px 10px;

												p{
													padding:  10px 0;
													font-size: 0.8em;
													text-transform: capitalize;
													border-radius: 0 0 10px 10px;
												}
										}
										.no-story{
											position: absolute;
											top:5px;
											right: 5px;
											background: blue;
											color: white;
											padding: 1px  5px;
											border-radius: 5px;

										}
						}
						.story:nth-child(1){
							border: 1px solid grey;
							border-radius: 10px;
							.no-story{
							top:60px;
							right: 32px;
							border: 1px solid white;
							border-radius: 50%;
							}
							.story-name{

							p{
								padding: 15px 0 15px 0;
								background: white;
								color: black;
							}
							}
						}
}

.user-container{
	display: flex;
	justify-content: space-between;
	padding: 10px 10px;

						.user{
								display: flex;
	              justify-content: space-between;

								.user-pic{
									width: 55px;
									height: 55px;

												img{ 
													border: 1px solid;
									border-radius: 50%;
								}
						}
										.user-name{
											display: flex;
        	justify-content: center;
					align-items: flex-start;
					flex-direction: column;
					padding: 0 10px;

													p:nth-child(1){
														text-transform: capitalize;
														font-weight: bolder;
													}
																				.post-time{
																					display: flex;
																					justify-content: space-around;
																					align-items: center ;
																					padding: 3px 0;

																								img{
																									margin: 0 5px;
																									opacity: 0.8;
																								}
																											p{
																												margin: 0 5px 0 0;
																												font-size: 0.6em;
																													color: rgb(85, 84, 84);

																											}
																				}
										}

										
					}
				
               .cta-btns{
								 		display: flex;
        	justify-content: center;
align-items: center;
															.like{
																border: 1px solid grey;
																padding: 5px 5px;
															}
										}


}


.post{
	width: 100%;
	height: auto;

								.fb-post{
									margin: 40px 0;
									border-top: 1px solid grey;
								}

							.post-topic p {
								padding: 0 10px;
							}
      .post-pic{
	width: 100%;
	height: auto;
}

}

		.reaction{
										margin: 2px 5px;
										display: flex;
										justify-content: flex-start;
													
											p{
												padding-left: 5px;
												color: rgb(73, 72, 72);
												text-transform: capitalize;
											}
									}
.comment{
	width: 100%;
				display: flex;
				justify-content: space-between;
	align-items: center;
	margin:  5px 0;
	padding: 0 5px;

									.action{
										background: rgba(121, 117, 117, 0.349);
										width:30%;
										text-align: center;
										border-radius: 50px;


													img{
														padding: 2px 0;
														opacity: 0.8;
													}
									}

}

@media(min-width:768px) and (max-width:990px){
	main{
		width: 480px;
	height: auto;
margin-left: 25%;
position: relative;
	}
	.splash{
			width:100%;
	}
}

@media(min-width:992px) and (max-width:1024px){
	main{
		width: 480px;
	height: auto;
margin-left: 25%;
position: relative;
	}
		.splash{
			width: 100%;
	}
}

@media(min-width:1200px) and (max-width:1500px){
	main{
		width: 480px;
	height: auto;
margin-left: 33%;
position: relative;
	}
	.splash{
			width: 100%;
			height: auto;
	}	
}

@media(min-width:1500px) { 
	main{
		width: 480px;
	height: auto;
margin-left: 35%;
position: relative;
	}
		.splash{
			width: 100%;
	}
}

.splash{
position: absolute;
top: 0;
background: white;
width: 100%;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
z-index: 1;
opacity: 0;
animation: pulse 3s 2 ;

.anime{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;

}
					.face{
						font-size: 2em;
						color: blue;

										sup{
											font-size: .35em;
										}
					}
					p{
						font-size: 1em;

									.godd{
										color: blue;
									}
					}

					@keyframes pulse {
						0%{
							transform: scale(1);
							opacity: 1;
						}
						50%{
							transform: scale(1.1);
							opacity: 1;
						}
						100%{
							transform: scale(1);
							opacity: 1;
						}
					}
}